:org.apache.felix.configadmin.revision:=L"3"
felix.fileinstall.filename="file:/C:/Users/Admin/Desktop/KTU_IoT_Bachelor_Project/OpenHAB/userdata/etc/org.ops4j.pax.logging.cfg"
org.ops4j.pax.logging.log4j2.config.file="C:\\Users\\Admin\\Desktop\\KTU_IoT_Bachelor_Project\\OpenHAB\\userdata\\etc/log4j2.xml"
service.bundleLocation="?"
service.pid="org.ops4j.pax.logging"
