<div class="container-fluid">

    <div class="row" style="display: flex; margin-top: 2em; margin-bottom: 1em;">
        <div class="col-4">
        {% include "./components/deviceListHeaderComponent.html" %}
        </div>
        <div class="col-8">
        {% include "./components/ruleListHeaderComponent.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% include "./components/deviceListComponent.html" %}
        </div>
        <div class="col-1" style="width: 2%;">
            <div style="border-left:1px solid #000;height:100%; opacity: .25;"></div>
        </div>
        <div class="col-7">
            {% include "./components/ruleListComponent.html" %}
        </div>
    </div>
    
</div>
