:org.apache.felix.configadmin.revision:=L"1"
felix.fileinstall.active.level="90"
felix.fileinstall.dir="C:\\Users\\Admin\\Desktop\\KTU_IO~1\\OpenHAB/addons"
felix.fileinstall.filename="file:/C:/Users/Admin/Desktop/KTU_IoT_Bachelor_Project/OpenHAB/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="C:\\Users\\Admin\\Desktop\\KTU_IoT_Bachelor_Project\\OpenHAB\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.31e83856-c813-4671-860d-a1aeef05f68b"
