:org.apache.felix.configadmin.revision:=L"1"
felix.fileinstall.active.level="90"
felix.fileinstall.dir="C:\\Users\\Admin\\DOWNLO~1\\OpenHAB/addons"
felix.fileinstall.filename="file:/C:/Users/Admin/Downloads/OpenHAB/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="C:\\Users\\Admin\\Downloads\\OpenHAB\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.32ceba70-2079-4d4b-bed6-7e647161802f"
