:org.apache.felix.configadmin.revision:=L"3"
felix.fileinstall.filename="file:/C:/Users/Admin/Desktop/KTU_IoT_Bachelor_Project/OpenHAB/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Users\\Admin\\Desktop\\KTU_IoT_Bachelor_Project\\OpenHAB\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
