:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/C:/Users/Admin/Downloads/OpenHAB/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Users\\Admin\\Downloads\\OpenHAB\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
